.hero_box {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #F7DBA7;
 width: 100%;

}
.hero_left {
    transform:translateX(130px) ;
}
.hero_left_h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 68px;
    color:   darkblue;
}
.hero_left_h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    color: darkblue;
}
.hero_left_p {
    width: 450px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.span {
  transform: translateX(4px) translateY(4px);
}
.hero_left_button {
    border-radius: 25px;
    border-color: darkblue;
    color: darkblue;
    width: 165px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
}
.hero_left_button2 {
    border-radius: 25px;
    border-color: transparent;
    margin-left: 25px;
    background-color: darkblue;
    width: 170px;
    min-height: 50px;
    color: white;
    text-align: center;

}
@media only screen and (max-width:800px) and (min-width:420px) {
    .hero_box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hero_left {
        transform: translateX(0px);
        
    }
}
@media only screen and (max-width:400px) and (min-width:210px) {
    .hero_box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hero_left {
        transform: translateX(0px);
    }
    .hero_left_h1 {
        font-size: 45px;
        margin-left: 40px;
    }
    .hero_left_h2 {
        font-size: 40px;
        margin-left: 40px;
    }
    .hero_left_p {
        width: 350px;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 500;
    }
    .hero_right {
        width: 100%;
        transform: translateX(-300px);
    }
}